@media screen and (max-width: 1024px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .burger span {
    -webkit-transition: 400ms;
    transition: 400ms;
  }
  header .container_nav {
    max-height: 0;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    position: absolute;
    top: 3.625rem;
    right: 2.625rem;
    -webkit-transition: max-height 400ms;
    transition: max-height 400ms;
  }
  header ul.nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header ul.nav li {
    border: solid 1px #000000;
    width: 100%;
    margin: 0 0 0.3125rem 0;
    background: #FFFFFF;
  }
  header .shown {
    max-height: 93.75rem;
  }
  header .shown + .burger .middle {
    opacity: 0;
  }
  header .shown + .burger .first {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
  }
  header .shown + .burger .last {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
  }

  .container-page .content_page {
    padding: 4.375rem 0 2.5rem 0;
  }
  .container-page .content_page .content_creative-design {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 1.875rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .container-page .content_page .content_creative-design h2 {
    font: 2.25rem/2.875rem oswald;
  }
  .container-page .content_page .content_creative-design p {
    font: 0.875rem/1.375rem roboto;
    margin: 2rem 0 1.25rem 0;
  }
  .container-page .content_page .container_ivent {
    margin: 3.75rem 0 6.25rem 0;
  }
  .container-page .content_page .container_ivent .cintainer_ivent-caption {
    max-width: 43.3125rem;
  }
  .container-page .content_page .container_ivent .cintainer_ivent-caption h2 {
    font: 1.875rem/2.375rem oswald;
  }
  .container-page .content_page .container_ivent .cintainer_ivent-caption p {
    font: 0.875rem/1.25rem roboto;
  }
  .container-page .content_page .container_ivent .container_ivent-img {
    margin: 3.75rem 0 2rem 0;
  }
  .container-page .content_page .container_ivent .container_ivent-triangle-img {
    max-width: 6.25rem;
    bottom: 0;
  }
  .container-page .content_page .container_growing-brands {
    text-align: center;
  }
  .container-page .content_page .container_growing-brands h2 {
    font: 1.5rem/1.875rem oswald;
  }
  .container-page .content_page .container_growing-brands p {
    font: 0.75rem/1.25rem roboto;
  }
  .container-page .content_page .container_growing-brands .container_customer-support p,
.container-page .content_page .container_growing-brands .container_email p {
    padding: 0 0.3125rem;
  }
  .container-page .content_page .container_form .container_dorian-triangle-green {
    max-width: 6.25rem;
    bottom: 10.125rem;
    right: 0.3125rem;
  }
  .container-page .content_page .container_form .container_dorian-triangle-silver {
    max-width: 3.125rem;
    left: -1.75rem;
  }
  .container-page .content_page .container_form .content_form {
    padding: 2.375rem 1rem 2.25rem;
  }
  .container-page .content_page .container_form .content_form input,
.container-page .content_page .container_form .content_form textarea,
.container-page .content_page .container_form .content_form h3,
.container-page .content_page .container_form .content_form button,
.container-page .content_page .container_form .content_form p {
    font: 0.75rem/1.25rem roboto;
  }
  .container-page .content_page .container_form .content_form input {
    padding: 0.875rem 0 0.875rem 0.875rem;
  }
  .container-page .content_page .container_form .content_form p {
    margin: 1rem 0 1.25rem 0;
  }
  .container-page .content_page .container_growing-brands-form,
.container-page .content_page .container_question,
.container-page .content_page .container_creative-design,
.container-page .content_page .container_grow-businesses {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-page .content_page .container_question {
    margin: 8.125rem 0 0 0;
  }
  .container-page .content_page .container_question h2 {
    font: 1.5625rem/2rem oswald;
    padding: 0;
  }
  .container-page .content_page .container_question .content_question {
    margin: 3.125rem 0 0 0;
  }
  .container-page .content_page .container_question .content_question > h2,
.container-page .content_page .container_question .content_question > p {
    text-align: center;
  }
  .container-page .content_page .container_question .content_question .container_question-dropdown {
    padding: 0 1.5rem 0 2rem;
  }
  .container-page .content_page .container_question .content_question .container_question-dropdown span {
    font: 0.875rem/1.375rem oswald;
  }
  .container-page .content_page .container_question .content_question .container_question-dropdown p {
    font: 0.75rem/1.125rem roboto;
    padding-right: 2.25rem;
  }
  .container-page .content_page .container_question .content_question .container_question-dropdown .container_answer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container-page .content_page .container_question .content_question .container_question-dropdown .container_answer .dorian-closed {
    top: 0;
  }
  .container-page .content_page .container_grow-businesses {
    margin-top: 3.125rem;
  }
  .container-page .content_page .container_grow-businesses .container_slider {
    margin-top: 0;
  }
  .container-page .content_page .container_grow-businesses .container_slider h2 {
    font: 1.75rem/2.25rem oswald;
  }
  .container-page .content_page .container_grow-businesses .container_slider p {
    font: 0.75rem/1.25rem roboto;
    padding: 2.125rem 0.625rem 1.875rem 0;
  }
  .container-page .content_page .container_grow-businesses .container_slider .paragraph-indicator .paragraph,
.container-page .content_page .container_grow-businesses .container_slider .paragraph-indicator .indicator {
    font: 1rem/1.875rem oswald;
  }
  .container-page .content_page .container_grow-businesses .price {
    font: 1.875rem/2.5rem oswald;
  }
  .container-page .content_page .container_grow-businesses .month {
    font: 0.75rem/1.125rem oswald;
  }
  .container-page .content_page .container_grow-businesses ul.list-price {
    margin: 1.875rem 0 3.375rem 4.375rem;
  }
  .container-page .content_page .container_growing-brands {
    margin: 0;
  }
  .container-page .content_page .container_question-img {
    margin: 0;
  }
  .container-page .content_page .border-dropdown {
    margin: 0;
  }
  .container-page .content_page .container_ticket-price {
    margin: 2.5rem 0 0 0;
  }
  .container-page .container_news-updates {
    -ms-grid-rows: (auto)[4];
    grid-template-rows: repeat(4, auto);
        grid-template-areas: "caption caption" "design design" "tutorial tutorial" "future future";
    margin: 4.375rem 3.125rem;
  }
  .container-page .content_news-updates-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.625rem;
  }
  .container-page .news-updates-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0.625rem 0 0 0;
    max-width: 100%;
  }
  .container-page .news-updates-cards h3 {
    margin-bottom: 0.3125rem;
  }
  .container-page .container_website-in-the-future {
    padding: 0.625rem;
  }
  .container-page .container_website-in-the-future-img {
    max-width: 100%;
  }
  .container-page .caption_news-updates h2 {
    font: 1.75rem/2rem oswald;
  }
  .container-page .news-updates-cards-img {
    max-width: 12.5rem;
  }
  .container-page .news-updates-cards {
    text-align: center;
  }
  .container-page .news-updates-cards h3 {
    font: 1.125rem/1.5625rem oswald;
  }
  .container-page .news-updates-cards p {
    font: 0.875rem/1.125rem roboto;
  }
  .container-page .content_website-in-the-future {
    padding-right: 0.625rem;
    bottom: 0.5rem;
    left: 1rem;
  }
  .container-page .content_website-in-the-future h2 {
    font: 1.25rem/1.875rem oswald;
  }
  .container-page .container_brands {
    margin: 0;
  }
  .container-page .container_brends-img {
    max-width: 21.875rem;
    width: 100%;
    left: 0;
  }
  .container-page .container_brads-text p {
    font: 1rem/1.5rem roboto;
    max-width: 21.875rem;
  }

  .container_arrow-right {
    margin-bottom: 11.25rem;
  }
  .container_arrow-right .container_slider-cards {
    margin: 6.25rem 0 5rem 3.125rem;
  }
  .container_arrow-right .container_slider-cards .container_cards {
    padding: 1.625rem 0.75rem 1.25rem 0.75rem;
  }
  .container_arrow-right .container_slider-cards .container_cards p {
    padding: 0 1.875rem;
  }

  footer {
    padding: 1.875rem 0 1.375rem 0;
  }
}