@font-face {
    font-family: 'ofont_ru_Oswald';
    src: url('fonts/ofont_ru_Oswald.eot');
    src: url('fonts/ofont_ru_Oswald.eot') format('embedded-opentype'),
         url('fonts/ofont_ru_Oswald.woff2') format('woff2'),
         url('fonts/ofont_ru_Oswald.woff') format('woff'),
         url('fonts/ofont_ru_Oswald.ttf') format('truetype'),
         url('fonts/ofont_ru_Oswald.svg#ofont_ru_Oswald') format('svg');
}
